/*Stylesheet for index.html*/

/*General Styling=========================*/
/*========================================*/

body {	
	font-family: 'Helvetica Neue', 'Arial', Helvetica, sans-serif;
	font-size: 15px;
	line-height: 32px;
	height: 100%;
	color: #777777;
	margin: 0 auto;
	background-image: url(http://1.bp.blogspot.com/-zdNHn72sED4/UPc5aB0f7FI/AAAAAAAAENo/9qOjODTYL6M/s1600/subtle_light_gray_background.jpg);
	background-attachment: fixed;
}

/*Header==================================*/
/*========================================*/

.navbar {
	border-bottom: 2px solid #cccccc;
	height: 70px;
}

#navbar-title {
	background-color: #4aaaa5;
	font-weight: 600;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #ffffff;
	font-size: 24px;
	height: 69px;
	line-height: 35px;
	margin-left: 50px;
}

#header-links {
	color: #777777;
	font-size: 13px;
	padding-top: 10px;
}

/*Main Container==========================*/
/*========================================*/

.main-section {
	margin-top: 35px;
}

.main-section-title {
	font font-weight: 400;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	font-size: 22px;
	font-weight: 600;
	border-bottom: 2px solid #cccccc;
	margin-left: 30px;
	margin-right: 30px;
	margin-top: 15px;
	margin-bottom: 0px;
}

#bio-image {
	margin-top: 7px;
	width: 162px;
	height: 243px;
	float: left;
	margin: auto;
}

.main-section-text {
	font-size: 14px;
	color: #777777;
	line-height: 2;
	margin-bottom: 30px;
}

/*Contact(only on contact.html)===========*/
/*========================================*/

#contact-section-body {
	font-size: 14px;
	color: #777777;
	line-height: 2;
	margin-bottom: 10px;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 5px;
}

#contact-section-body .form-group .control-label {
	font-size: 14px;
	color: #777777;
	padding-left: 5px;
	font-weight: normal;
}

button {
	margin-left: 30px;
	margin-top: -40px;
}

#submit-button {
	background-color: #4aaaa5;
	color: white;
	padding: 10px 20px;
	border: none;
	font-size: 14px;
}

/*Portfolio(only on portfolio.html)=======*/
/*========================================*/

#portfolio-section-body {
	font-size: 14px;
	color: #777777;
	line-height: 2;
	margin-bottom: 10px;
	padding-right: 30px;
	padding-left: 30px;
	padding-top: 20px;
}

#image-row img{
	width: 100%;
	margin: 10px 5px;
	position: relative;
}

.image-label {
	background-color: #4aaaa5;
	padding: 10px;
	color: white;
	width: 90%;
	position: absolute;
	top: 60%;
	text-align: center;
	margin-left: 5px;
}


/*Connect With Me=========================*/
/*========================================*/

.connect-header {
	font-weight: 600;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #4aaaa5;
	font-size: 18px;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 20px;
	margin-bottom: 0px;
	border-bottom: 2px solid #dddddd;
}

.connect-with-me .connect-body .img-responsive {
	width: 33%;
	float: left;
	padding: 2px;
}

 .connect-with-me .connect-body .github-image {
 	width: 30%;
 	margin-top: 3px;
 }

 .connect-with-me .connect-body .img-responsive:hover {
	border: 2px solid lightgrey;
	transform: rotate(-10deg);
	cursor: pointer;
}

 .connect-with-me .connect-body .github-image:hover {
 	border: 2px solid lightgrey;
	width: 33%;
	padding: 6px;
	transform: rotate(-10deg);
	cursor: pointer; 
}

/*Footer==================================*/
/*========================================*/

.navbar-fixed-bottom {
	height: 70px;
	width: 100%;
	background-color: #666666;
	border-top: 5px solid #4aaaa5;
	border-bottom: #666666;
}

#footer-text {
	color: lightgrey;
	font-size: 11px;
	text-align: center;
	padding-top: 17px;
}



